<div class="immi-mobile-menu" id="immi-mobile-nav">
    <div class="immi-mobile-main-menu">
        <div id="MobileNavigationControl_MobileNavigationDiv">
            <ul data-role="listview">
                <li class="visit"><a href="/Visit">Visit Australia</a>
                    <a href="#" class="sub closed">
                        <!--<span class="screen-reader-text">Open Visit Australia</span>-->
                    </a>
                    <ul style="display: none;">

                        <!--Begin Visit -->
                        <li>
                            <span>Visas</span><a href="#" class="closed sub"><span
                                class="screen-reader-text">Open Visas</span></a>
                            <ul>
                                <li>

                                    <span>Visitor visas</span><a href="#" class="closed sub"><span
                                        class="screen-reader-text">Open Visitor visas</span></a>

                                    <ul>
                                        <li><a id="visitorvisasubclass600"
                                               href="/Visas/Pages/600.aspx">600 - Visitor</a></li>
                                        <li><a id="electronictravelauthoritysubclass601"
                                               href="/Visas/Pages/601.aspx">601 - Electronic Travel
                                            Authority</a></li>
                                        <li><a id="evisitorsubclass651"
                                               href="/Visas/Pages/651.aspx">651 - eVisitor</a></li>
                                        <li><a id="specialcategoryvisasubclass444"
                                               href="/Visas/Pages/444.aspx">444 - Special Category -
                                            New Zealand Citizen</a></li>
                                        <li>
                                            <a id="newzealandcitizenfamilyrelationshiptemporaryvisasubclass461"
                                               href="/Visas/Pages/461.aspx">461 - New Zealand
                                                Citizen Family Relationship (Temporary)</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <span>Working holiday visas</span><a href="#"
                                                                         class="closed sub"></a>
                                    <ul>
                                        <li><a id="workingholidayvisasubclass417"
                                               href="/Visas/Pages/417.aspx">417 - Working
                                            Holiday</a></li>
                                        <li><a id="workandholidayvisasubclass462"
                                               href="/Visas/Pages/462.aspx">462 - Work and
                                            Holiday</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <span>Gap year/ Exchange visas </span><a href="#"
                                                                             class="closed sub"></a>

                                    <ul>
                                        <li><a id="specialprogramvisasubclass416"
                                               href="/Visas/Pages/416-sp.aspx">416 - Special
                                            Program</a></li>
                                        <li><a id="trainingandresearchvisasubclass402"
                                               href="/Visas/Pages/402.aspx">402 - Training and
                                            Research</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <span>Medical treatment visas </span><a href="#"
                                                                            class="closed sub"></a>

                                    <ul>
                                        <li><a id="medicaltreatmentvisasubclass602"
                                               href="/Visas/Pages/602.aspx">602 - Medical
                                            Treatment</a></li>
                                    </ul>
                                </li>
                                <li>

                                    <span>Investor/Retirement visas </span><a href="#"
                                                                              class="closed sub"></a>
                                    <ul>

                                        <li><a id="investorretirementvisasubclass405"
                                               href="/Visas/Pages/405.aspx">405 - Investor
                                            Retirement</a></li>
                                        <li><a id="retirementvisasubclass410"
                                               href="/Visas/Pages/410.aspx">410 - Retirement</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span>Air and sea crew visas </span><a href="#"
                                                                           class="closed sub"></a>
                                    <ul>

                                        <li><a href="/path/to/xyz.htmphpaspx">488 - Superyacht
                                            Crew</a></li>
                                        <li><a href="/path/to/xyz.htmphpaspx">942 - Crew Travel
                                            Authority</a></li>
                                        <li><a href="/path/to/xyz.htmphpaspx">988 - Maritime
                                            Crew</a></li>

                                    </ul>
                                </li>
                                <li>

                                    <span>Transit visas </span><a href="#" class="closed sub"><span
                                        class="screen-reader-text">Open Transit visas </span></a>
                                    <ul>

                                        <li><a id="transitvisasubclass771"
                                               href="/Visas/Pages/771.aspx">771 - Transit</a></li>

                                    </ul>
                                </li>
                                <li>

                                    <span>Repealed or closed visas</span><a href="#"
                                                                            class="closed sub"><span
                                        class="screen-reader-text">Open Repealed or closed visas</span></a>
                                    <ul>

                                        <li><a id="sponsoredbusinessvisitorshortstayvisasubclass459"
                                               href="/Visas/Pages/459.aspx">459 - Sponsored Business
                                            Visitor (Short Stay)</a></li>
                                        <li><a id="medicaltreatmentshortstayvisasubclass675"
                                               href="/Visas/Pages/675.aspx">675 - Medical Treatment
                                            Short Stay</a></li>
                                        <li><a id="touristvisasubclass676"
                                               href="/Visas/Pages/676.aspx">676 - Tourist</a></li>
                                        <li><a id="sponsoredfamilyvisitorvisasubclass679"
                                               href="/Visas/Pages/679.aspx">679 - Sponsored Family
                                            Visitor</a></li>
                                        <li><a id="medicaltreatmentlongstayvisasubclass685"
                                               href="/Visas/Pages/685.aspx">685 - Medical Treatment
                                            Long Stay</a></li>
                                        <li>
                                            <a id="electronictravelauthoritybusinessentrantsubclass956and977"
                                               href="/Visas/Pages/956-977.aspx">956-977 - Electronic
                                                Travel Authority (Business Entrant)</a></li>
                                        <li><a id="electronictravelauthorityvisitorsubclass976"
                                               href="/Visas/Pages/976.aspx">976 - Electronic Travel
                                            Authority (Visitor)</a></li>
                                    </ul>


                                </li>
                                <li>
                                    <span>Bridging visas</span><a href="#" class="closed sub"><span
                                        class="screen-reader-text">Open Bridging visas</span></a>
                                    <ul>
                                        <li><a id="bridgingvisaabvasubclass"
                                               href="/Visas/Pages/010.aspx">010 - Bridging visa A –
                                            BVA</a></li>
                                        <li><a id="bridgingvisabbvbsubclass"
                                               href="/Visas/Pages/020.aspx">020 - Bridging visa B –
                                            BVB</a></li>
                                        <li><a id="bridgingvisacbvcsubclass"
                                               href="/Visas/Pages/030.aspx">030 - Bridging visa C –
                                            BVC</a></li>
                                        <li><a id="bridgingvisadbvdsubclass"
                                               href="/Visas/Pages/040-041.aspx">040-041 - Bridging
                                            visa D – BVD</a></li>
                                        <li><a id="bridgingvisaebvesubclass"
                                               href="/Visas/Pages/050-051.aspx">051 - Bridging visa
                                            E – BVE</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </li>

                        <!--End Visit -->


                        <li>
                            <span>Information for visitors</span><a href="#"
                                                                    class="closed sub"><span
                                class="screen-reader-text">Open Information for visitors</span></a>
                            <ul>

                                <li><a id="conferencesandevents"
                                       href="/Visit/Pages/Conferences-and-Events.aspx">Conferences
                                    and events</a></li>

                                <li><a id="traveladviceforworkingholidaymakers"
                                       href="/Visit/Pages/travel-advice-for-whm.aspx">Travel advice
                                    for working holiday makers</a></li>


                                <li><a id="workingholidaysoverseasforaustralians"
                                       href="/Visit/Pages/working-holidays-overseas-australians.aspx">Working
                                    holidays overseas for Australians</a></li>

                                <li><a id="comingtoaustralia"
                                       href="/immigration/coming-to-australia/">Coming to
                                    Australia</a></li>


                            </ul>


                        </li>
                    </ul>

                </li>


            </ul>
        </div>

    </div>
</div>
