<div id="topic-carousel">
    <a class="topic-carou-t1" href="#">
        <div class="row clearfix">
            <div class="col-md-4">
                <h2>Live in Australia</h2><p>To live in Australia you must have a valid Australian visa.</p>
            </div>
            <div class="col-md-8 pull-right">
                <img src="http://placehold.it/280x300&text=Topic1" alt="Topic1">
            </div>
        </div>
    </a>
    <a class="topic-carou-t2" href="#">
        <div class="row clearfix">
            <div class="col-md-4">
                <h2>Citizenship</h2><p>Becoming a citizen represents a commitment to Australia and its people.</p>
            </div>
            <div class="col-md-8 pull-right">
                <img src="http://placehold.it/280x300&text=Topic2" alt="Topic2">
            </div>
        </div>
    </a>
    <a class="topic-carou-t3" href="#">
        <div class="row clearfix">
            <div class="col-md-4">
                <h2>Visit Australia</h2><p>Whether you are visiting for less than 72 hours or planning on a stay of several years you must have a valid Australian visa.</p>
            </div>
            <div class="col-md-8 pull-right">
                <img src="http://placehold.it/280x300&text=Topic3" alt="Topic3">
            </div>
        </div>
    </a>
    <a class="topic-carou-t4" href="#">
        <div class="row clearfix">
            <div class="col-md-4">
                <h2>Study in Australia</h2><p>To study in Australia you must have a valid Australian visa.</p>
            </div>
            <div class="col-md-8 pull-right">
                <img src="http://placehold.it/280x300&text=Topic4" alt="Topic4">
            </div>
        </div>
    </a>
    <a class="topic-carou-t5" href="#">
        <div class="row clearfix">
            <div class="col-md-4">
                <h2>Work in Australia</h2><p>To work in Australia, you must have a valid Australian visa with work rights.</p>
            </div>
            <div class="col-md-8">
                <img src="http://placehold.it/280x300&text=Topic5" alt="Topic5">
            </div>
        </div>
    </a>
</div>


<div id="topic-carousel-controls">
    <a style="display: inline;" class="asal-carousel-play" href="#">
        <i class="fa"></i>
    </a>
    <div style="display: inline;" class="asal-carousel-pag">
        <a><span>1</span></a>
        <a><span>2</span></a>
        <a><span>3</span></a>
        <a><span>4</span></a>
        <a><span>5</span></a>
    </div>
    <a style="display: inline;" class="asal-carousel-prev" href="#">
        <i class="fa fa-chevron-circle-left"></i>
    </a>
    <a style="display: inline;" class="asal-carousel-next" href="#">
        <i class="fa fa-chevron-circle-right"></i>
    </a>
</div><!-- /topic-carousel-controls  -->

