.col33{
//TODO: can't get col % to work here,
//setting a fixed width works ok
//warning: I played around a lot to get the
//carousel styling working, but it is
//still kind of a mess.
//  width: 33%;
  height: 290px;
  max-width: 150px;
  float: left;
  margin: 0;
}
.col66{
//  width: 66%;
  float:left;
  margin: 0;
  min-width: 800px;
}
.topic-carousel a {
  text-decoration: none;
  background: none repeat scroll 0 0 #FFF;
  border-radius: 6px;
  display: block;
  margin: 1px;
  outline: 1px solid transparent;
//  float:left;
//  width: 100%;
}
.tcar-a1,.tcar-a2,.tcar-a3,.tcar-a4,.tcar-a5{}
.tcar-a1>.col33,.tcar-a2>.col33,.tcar-a3>.col33,
.tcar-a4>.col33,.tcar-a5>.col33{}

.tcar-a1>.col33 {border-bottom: 10px solid #72CDF4;}
.tcar-a2>.col33 {border-bottom: 10px solid #B9CF14;}
.tcar-a3>.col33 {border-bottom: 10px solid #9490D1;}
.tcar-a4>.col33 {border-bottom: 10px solid #EC7E1E;}
.tcar-a5>.col33 {border-bottom: 10px solid #FDC81C;}


/*++++++++++++++++++++++++++++++++*/
/*++TOPIC CAROUSEL++++++++++++++++*/
/*++++++++++++++++++++++++++++++++*/
#topic-carou-wrapper {
  //TODO: play with the widths so that images play nicely
  max-width: 900px;
//  height: 290px;
  margin:  0;
  padding: .7em 0;

  > .caroufredsel_wrapper{
  //TODO: try styling this wrapper more instead of other divs
    //radius/hidden belongs here, best way to contain overflow
    border-radius: 6px;
    overflow:hidden;
  }
}
#topic-carousel {
    width: 900px;
  //  height: 300px;
  //  margin: 20px 0 0 20px;
}

#topic-carousel img {
//  display: block;
//  float: left;
  width:100%;
  height: 100%;
}
#tcar-prev, #tcar-next {
  display: block;
  width: 10px;
  height: 10px;
//  position: absolute;
//  bottom: -10px;
//  right: -10px;
}
#tcar-prev, #tcar-next {
  display: block;
  width: 10px;
  height: 10px;
//  position: absolute;
//  bottom: -10px;
//  right: -10px;
}
#tcar-wrapper:hover #tcar-prev,
#tcar-wrapper:hover #tcar-next {
//  display: block !important;
}
#tcar-navi {
//  width: 100%;
//  margin: 2px 0 0 0;
//  margin: 15px 0 0 0;
  padding: 0.5em 0 0.5em 0.5em;
  position: absolute;
  bottom: .7em;
  right: 1.1em;
  text-align: center;
  top: auto;
  border-radius: 6px 0;
  border-top: 1px solid #FFF;
  border-left: 1px solid #FFF;
  background: #000;
  z-index:99;
//TODO: hacked abs pos bottom, might be a better fix available
  @media (min-width: 960px) {
    bottom: 1.8em;
  }
}
#tcar-pager {
  margin: 0;
  padding: 0;
  text-align: right;
  width: 200px;
  float: right;
  z-index:1080;
}
#tcar-pager a {
  margin: 0px 0.2em;
  text-decoration: none;
  text-align: center;
  line-height: 20px;
  display: inline-block;
  width: 18px;
  height: 20px;
  position: relative;
  //  content: ;
}
#tcar-pager a.selected {
  background-color: #666;
  color: #fff;
}
#tcar-pager a[data-slide-index="0"] {
  background-color: #72CDF4;
}
#tcar-pager a[data-slide-index="1"] {
  background-color: #B9CF14;
}
#tcar-pager a[data-slide-index="2"] {
  background-color: #9490D1;
}
#tcar-pager a[data-slide-index="3"] {
  background-color: #EC7E1E;
}
#tcar-pager a[data-slide-index="4"] {
  background-color: #FDC81C;
}

/*++++++++++++++++++++++++++++++++*/
/*++FEATURES CAROUSEL+++++++++++++*/
/*++++++++++++++++++++++++++++++++*/
#features-carou-wrapper {
  width: 100%;
  height: 200px;
  margin:  0;
}
#fcar-carousel {
  width: 600px;
//  height: 260px;
  //  margin: 20px 0 0 20px;
//  overflow: hidden;
}
#fcar-carousel img {
  display: block;
  float: left;
}
#fcar-prev, #fcar-next {
  display: block;
  width: 10px;
  height: 10px;
  color: #036;
  //  position: absolute;
  //  bottom: -10px;
  //  right: -10px;
}
#fcar-wrapper:hover #fcar-prev,
#fcar-wrapper:hover #fcar-next {
  //  display: block !important;
}
#fcar-navi {
  margin: 2px 0 0 0;
  padding: 0.5em 0 0.5em 0.5em;
  width: 100%;
  position: absolute;
  top: .6em;
  right: 2em;
  bottom: auto;
  text-align: center;
}
#fcar-pager {
  margin: 0;
  padding: 0;
}

#fcar-pager {
  text-align: right;
  width: 200px;
  float: right;
}
#fcar-pager a {
  text-decoration: none;
  text-align: center;
  line-height: 20px;
  display: inline-block;
  width: 18px;
  height: 20px;
  position: relative;
  color: #036;
  //  content: ;
}
#fcar-pager a.selected {
  background-color: #036;
  color: #fff;
  -moz-border-radius:     30px;
  -webkit-border-radius:  30px;
  border-radius:          30px; /* future proofing */

}
