.inline li {
  display: inline;
}
.footplate {
  margin-bottom: 15px;
  padding-left: 1em;
  padding-right: 1.5em;
  -moz-border-radius:     6px;
  -webkit-border-radius:  6px;
  border-radius:          6px; /* future proofing */
  background: none repeat scroll 0 0 rgba(230, 230, 230, 0.80);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  font-size: 12px;
}
.footplate-footnav{
  display: none;@media (min-width: 960px){
  display: block;}
  ul {
    height:300px;
    padding-left: 0;
    list-style: outside none none;
  }
  ul>li{
    padding-left:15px;
    margin: 0.7em 0;
    list-style: outside none none;
  }
  >div>div{//targets all footnav-cols
    padding-right:5px;
  }
  h4 {
    font-size: 100%;
    font-weight: bold;
    line-height: 1.5;
    //  margin: 0 0 0.75em;
    padding-left: 15px;
  }
  float: left;
  margin-bottom: 15px;
  margin-left: -7px;
  width: 75%;
  height:300px;
  overflow: hidden;
  color: #000;

}
.footplate-footnav a,
footer nav a:link,
footer nav a:visited {
  color: #000;
  text-decoration: none;
}

.footnav-col1{
  float:left;
  width: 14.4%;
  padding-left:8px;
}
.footnav-col2,.footnav-col3,
.footnav-col4,.footnav-col5{
  float: left;
  width: 13.32%;
}
.footnav-col6{
  float: left;
  width: 32%;
}

.footnav-col1{background-color: #72CDF4;}
.footnav-col2{background-color: #B9CF14;}
.footnav-col3{background-color: #9490D1;}
.footnav-col4{background-color: #EC7E1E;}
.footnav-col5{background-color: #FDC81C;}
.footnav-col6{background: none;}



.partner-list{
  padding:0;
}
.tagline{
   text-align: center;
   @media (min-width: 960px) {
     text-align: right;
   }
 }


.footplate-socialhub{
  h4{
    padding-left: 7.5px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
  }
  ul>li{padding: 0 5px 0 0; margin: 0.5em 0; }
  float: left;
  width: 100%;
  @media (min-width: 960px){
    width: 25%;
  }
  ul>li>a {
    padding-right: 0;
    padding-left: 2em;
    height: 23px;
    display: block;
    background: url("../img/socialSprite1.png") no-repeat;
    padding-top: 4px;
  }
}
.footplate-socialhub ul li a.soc-i-facebook  { background-position: 0px -51px;}
.footplate-socialhub ul li a.soc-i-twitter   { background-position: 0px -460px;}
.footplate-socialhub ul li a.soc-i-linkedin  { background-position: 0px -204px;}
.footplate-socialhub ul li a.soc-i-instagram { background-position: 0px -511px;}
.footplate-socialhub ul li a.soc-i-youtube   { background-position: 0px -154px;}
.footplate-socialhub ul li a.soc-i-flickr    { background-position: 0px -129px;}
.footplate-socialhub ul li a.soc-i-mblog     { background-position: 0px -1510px;}
.footplate-socialhub ul li a.soc-i-google    { background-position: 0px -435px;}

#footer{
  color: #ffffff;
  font-size: 12px;
  padding: 0 20px;
  ul{
    padding:0;
  }
  a{
    color: #ffffff;
    text-decoration: underline;
  }
  ul>li{
    display:inline;
  }
  .pipe-divider li:after {
    content: "|";
    margin-right: 0.5em;
    margin-left: 0.5em;
  }
  .pipe-divider li:last-child:after {
    content: "";
  }
}

