//========================================
//== MEGAMENU HOVER MENU =================
//========================================

.nav.navbar-nav{
  display: none;
  //  float: none;
  width:100%
  //  margin-top: 55px;
}
.navbar-nav>.hovmenu-wrap {
  position: static !important;
//   width: 11.111%;
  display: inline;
  float:none;
}
ul.navbar-nav li button.tab {
  position: relative;
  display: inline;
  padding: 10px 35px;
  float:left;
  width: 10.5%;
  padding-top: 0.5em;
  padding-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0.6875%;

  border-top:   0px solid;
  border-left:  0px solid;
  border-right: 0px solid;
  border-bottom:8px solid #036;
  border-radius: 5px 5px 0 0;
  line-height: 1;
  text-align: center;
  text-decoration: none;

}
.asal-mega-menu>.mnav9>.tab {
     margin-right: 0;
   }



//========================================
//==DROPOVER STYLES =========================
//========================================
.megamenu{
  padding: 20px 0;
  width:95.2%;
  max-width: 88.9em;
  position: absolute;top: 100%;left: 0;right: 0;
  z-index: 1000;
  display: none;
  float: left;
//  min-width: 160px;
  //  padding: 5px 0px;
  margin: 0 auto;
  list-style: outside none none;
  font-size: 14px;
  text-align: left;
  background-color: #FFF;
  //  border: 1px solid rgba(0, 0, 0, 0.15);
  //  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  background-clip: padding-box;
}

/*TODO:questionable styles*/
//.megamenu{
//  margin-left: 0 ;
//  margin-right: 0 ;
//}
//.megamenu> li {
//  margin-bottom: 30px;
//}
//.megamenu> li:last-child {
//  margin-bottom: 0;
//}
//.megamenu.dropdown-header {
//  padding: 3px 15px !important;
//
//}
//.navbar-nav .open .dropdown-menu .dropdown-header{
//  color:#fff;
//}
/*ENDTODO:questionable styles*/

.megamenu> li > ul {padding: 0;margin: 0;}
.megamenu> li > ul > li {list-style: none;}
.megamenu> li > ul > li > a {
  display: block;
  padding: 3px 10px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.megamenu> li ul > li > a:hover,
.megamenu> li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  color: #999999;
}
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  text-decoration: none;
  background: transparent none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.megamenu.dropdown-header {
  color: #428bca;
  font-size: 18px;
}


//========================================
//==COLORS  ===========
//========================================
ul.navbar-nav li.mnav1{
  > button {
    background: linear-gradient(#E2E2E2, #FEFEFE) repeat scroll 0 0 transparent;
    color: #036;
    border-bottom-color: #72CDF4;
    &:hover {
      background: #72CDF4;
    }
  }
  > ul {
    border-top: 9px solid #72CDF4;
    border-bottom: 9px solid #72CDF4;
  }
}
ul.navbar-nav li.mnav2{
  >button {
    background: linear-gradient(#E2E2E2, #FEFEFE) repeat scroll 0 0 transparent;
    color: #036;
    border-bottom-color: #B9CF14;
    &:hover{
      background:#B9CF14;
    }
  }
  > ul {
    border-top:9px solid #B9CF14;
    border-bottom:9px solid #B9CF14;
  }
}
ul.navbar-nav li.mnav3{
  >button {
    background: linear-gradient(#E2E2E2, #FEFEFE) repeat scroll 0 0 transparent;
    color: #036;
    border-bottom-color: #9490D1;
    &:hover{
      background:#9490D1;
    }
  }
  > ul {
    border-top:9px solid #9490D1;
    border-bottom:9px solid #9490D1;
  }
}
ul.navbar-nav li.mnav4{
  >button {
    background: linear-gradient(#E2E2E2, #FEFEFE) repeat scroll 0 0 transparent;
    color: #036;
    border-bottom-color: #EC7E1E;
    &:hover{
      background:#EC7E1E;
    }
  }
  > ul {
    border-top:9px solid #EC7E1E;
    border-bottom:9px solid #EC7E1E;
  }
}
ul.navbar-nav li.mnav5{
  >button {
    background: linear-gradient(#E2E2E2, #FEFEFE) repeat scroll 0 0 transparent;
    color: #036;
    border-bottom-color: #FDC81C;
    &:hover{
      background:#FDC81C;
    }
  }
  > ul {
    border-top:9px solid #FDC81C;
    border-bottom:9px solid #FDC81C;
  }
}
ul.navbar-nav li.mnav6{
  >button {
    background: linear-gradient(#036, #317FAF) repeat scroll 0 0 transparent;
    color: #FFF;
    border-bottom-color: #036;
    &:hover{
      background:#036;
    }
  }
  > ul {
    border-top:9px solid #036;
    border-bottom:9px solid #036;
  }
}
ul.navbar-nav li.mnav7{
  >button {
    background: linear-gradient(#036, #317FAF) repeat scroll 0 0 transparent;
    color: #FFF;
    border-bottom-color: #036;
    &:hover{
      background:#036;
    }
  }
  > ul {
    border-top:9px solid #036;
    border-bottom:9px solid #036;
  }
}
ul.navbar-nav li.mnav8{
  >button {
    background: linear-gradient(#036, #317FAF) repeat scroll 0 0 transparent;
    color: #FFF;
    border-bottom-color: #A8005B;
    &:hover{
      background:#A8005B;
    }
  }
  > ul {
    border-top:9px solid #A8005B;
    border-bottom:9px solid #A8005B;
  }
}
ul.navbar-nav li.mnav9{
  >button {
    background: linear-gradient(#036, #317FAF) repeat scroll 0 0 transparent;
    color: #FFF;
    border-bottom-color: #036;
    &:hover{
      background:#036;
    }
  }
  > ul {
    border-top:9px solid #036;
    border-bottom:9px solid #036;
  }
}




//========================================
//==DISPLAY FIXES=========================
//========================================

// at WIDE VIEWPORT, toggle displays on/off in header:
@media (min-width: 960px) {
  .navbar-collapse.collapse{
    display: none !important;
  }
  .nav.navbar-nav{
    display: block;
  }
  .navbar-header{
    display:none;
  }
}

