.hideOverflow
{
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  width:100%;
  display:block;
}
.container {
  width: 98.5%;
  max-width: 90em;
  @media (min-width: 960px) {
    width: 96.5%;
  }
}

.border-underline {
  border-bottom: 1px solid #C9C9C9;
}

.plate {
  margin-bottom: 15px;
  padding-left: .5em;
  padding-right: .5em;
  background-color: #FFF;
  -moz-border-radius:     6px;
  -webkit-border-radius:  6px;
  border-radius:          6px; /* future proofing */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  /*overflow: hidden;*/

}
ul
{
  list-style-type: none;
}

.action-button {
//  background-image: -moz-linear-gradient(center top , #317FAF, #003B75);
  background: #317faf;
  background: -moz-linear-gradient(top,  #317faf 0%, #003b75 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#317faf), color-stop(100%,#003b75));
  background: -webkit-linear-gradient(top,  #317faf 0%,#003b75 100%);
  background: -o-linear-gradient(top,  #317faf 0%,#003b75 100%);
  background: -ms-linear-gradient(top,  #317faf 0%,#003b75 100%);
  background: linear-gradient(to bottom,  #317faf 0%,#003b75 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#317faf', endColorstr='#003b75',GradientType=0 );

  border-radius: 10px;
  border:0px solid;
  box-sizing: border-box;
  color: #FFF;
  display: table;
  font-weight: 700;
  margin-bottom: 1em;
  min-height: 3em;
  text-align: center;
  text-decoration: none;
  width: 100%;
//  width: auto;
}

