.header-logo-wrapper{
  z-index: 0;
  margin-top: 1em;
  margin-bottom: 2em;
  float:left;
}
img.header-logo {
}

.navbar>.contain-header {
//  width: 100%;
  max-width: 90em;

  @media (min-width: 960px) {
    width: 96.5%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

}


//========================================
//== Navbar Toggle/Collapse ==============
//========================================
.navbar-asal{
//  background: -moz-linear-gradient(left center , #036 0%, #317FAF 60%) repeat scroll 0 0 #036;
  background: #003366;
  background: -moz-linear-gradient(left center,  #003366 0%, #317faf 60%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#003366), color-stop(60%,#317faf));
  background: -webkit-linear-gradient(left center,  #003366 0%,#317faf 60%);
  background: -o-linear-gradient(left center,  #003366 0%,#317faf 60%);
  background: -ms-linear-gradient(left center,  #003366 0%,#317faf 60%);
  background: linear-gradient(to right,  #003366 0%,#317faf 60%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003366', endColorstr='#317faf',GradientType=1 );


  border-bottom: 5px solid #212121;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
  position: relative;
}
.navbar-header{
  top: 0;
  right: 0;
  z-index: 100;
//  background-image: -moz-linear-gradient(center top , #000 0%, #454545 100%);
  background: #000000;
  background: -moz-linear-gradient(top,  #000000 0%, #454545 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#454545));
  background: -webkit-linear-gradient(top,  #000000 0%,#454545 100%);
  background: -o-linear-gradient(top,  #000000 0%,#454545 100%);
  background: -ms-linear-gradient(top,  #000000 0%,#454545 100%);
  background: linear-gradient(to bottom,  #000000 0%,#454545 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#454545',GradientType=0 );

  width: 100%;
  height: 4em;
  text-align: right;
  border-bottom: 1px solid #000;
}
.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 7px;
  padding: 9px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  //  border: 1px solid transparent;
//  border-radius: 4px;

  border: 2px solid #F0F0F0;
  background: #FFF none;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(132, 132, 132, 0.9);
//  margin: 0.5em;
//  padding: 0.5em;
  color: #212121;
  span{
    margin-left:7px;
  }
}

.navbar-collapse {
/*dropdown sits in this wrapper*/
  position: fixed;
  top: 4em;
  background-color: #333333;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0;
}

//========================================
//==MOBILE DROPDOWN ACCORDION ============
//========================================


#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  color: #000000;
}
#cssmenu ul ul {
  display: none;
}
.align-right {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 15px 20px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  background: #ffffff;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.active > a,
#cssmenu > ul > li.open > a {
  color: #333333;
  background: #FAFABB;
}
#cssmenu > ul > li.open > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #cccccc;
}
#cssmenu > ul > li:last-child > a,
#cssmenu > ul > li.last > a {
  border-bottom: 1px solid #cccccc;
}

#cssmenu ul ul li a {
  cursor: pointer;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  //padding + font size determines height of sub menus
  padding: 15px 20px;
  z-index: 1;
  text-decoration: none;
  font-size: 13px;
  color: #333333;
  background: #ffffff;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.open > a,
#cssmenu ul ul li.active > a {
  background: #FAFABB;
  color: #333333;
}
#cssmenu ul ul li:first-child > a {
  box-shadow: none;
}
#cssmenu ul ul ul li:first-child > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#cssmenu ul ul ul li a {
  padding-left: 30px;
}
#cssmenu > ul > li > ul > li:last-child > a,
#cssmenu > ul > li > ul > li.last > a {
  border-bottom: 0;
}
#cssmenu > ul > li > ul > li.open:last-child > a,
#cssmenu > ul > li > ul > li.last.open > a {
  border-bottom: 1px solid #cccccc;
}
#cssmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
  border-bottom: 0;
}
#cssmenu ul ul li.has-sub > a::after {
  display: block;
  position: absolute;
  content: "";
  width:  6px;
  height: 6px;
  right: 20px;
  z-index: 10;
  top: 11.5px;
  border-top: 2px solid #cccccc;
  border-left: 2px solid #cccccc;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
#cssmenu ul ul li.active > a::after,
#cssmenu ul ul li.open > a::after,
#cssmenu ul ul li > a:hover::after {
  border-color: #cccccc;
}
#cssmenu > ul > li > a:hover > span::after,
#cssmenu > ul > li.active > a > span::after,
#cssmenu > ul > li.open > a > span::after {
  border-color: #cccccc;
}
.holder {
  /*creates size of colored boxes */
  width: 46px;
  height: 100%;
  position: absolute;top: 0;right: 0;
}
.holder::after,
.holder::before {
  display: block;
  position: absolute;
  content: "";
  width:  6px;
  height: 6px;
  right: 20px;
  z-index: 10;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.holder::before {
  top: 18px;
  border-top: 2px solid inherit;
  border-left: 2px solid inherit;
}
.holder::after {
  top: 17px;
  border-top: 2px solid #cccccc;
  border-left: 2px solid #cccccc;
}
.mobnav-topic1>a>span.holder{background-color: #72CDF4;}
.mobnav-topic2>a>span.holder{background-color: #B9CF14;}
.mobnav-topic3>a>span.holder{background-color: #9490D1;}
.mobnav-topic4>a>span.holder{background-color: #EC7E1E;}
.mobnav-topic4>a>span.holder{background-color: #FDC81C;}


//========================================
//==TOOLBAR STYLES========================
//========================================


.asal-toolbar {
  font-size: 13px;
  width: 100%;
  //  margin: 0 10px 0 -10px;
  margin-bottom: 0;
  padding-right: 1em;
  padding-left: 1em;
  float: right;
  text-align: center;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
//  background-image: -moz-linear-gradient(center top, #317FAF 0%, #036 100%);
  background: #317faf;
  background: -moz-linear-gradient(top,  #317faf 0%, #003366 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#317faf), color-stop(100%,#003366));
  background: -webkit-linear-gradient(top,  #317faf 0%,#003366 100%);
  background: -o-linear-gradient(top,  #317faf 0%,#003366 100%);
  background: -ms-linear-gradient(top,  #317faf 0%,#003366 100%);
  background: linear-gradient(to bottom,  #317faf 0%,#003366 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#317faf', endColorstr='#003366',GradientType=0 );

  > li {
    list-style: none none;
    display: inline-block;
    //    margin: 0 -0.25em;
    vertical-align: middle;
  }
  > li > a {
    color: #ffffff;
    font-weight: bold;
  }
  @media (min-width: 960px) {
    width: auto;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-right: 1em;
    padding-left: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }
  li.asal-global-search-wrapper input{
    background: none repeat scroll 0 0 #FFF;
  }
}

.asal-global-search input[type="text"] {
  border-radius: 0.3em 0 0 0.3em;
  margin: 0.5em 0;
  line-height: 1.6;
  padding-left: 0.5em;
}
.asal-global-search input[type="text"],
.asal-global-search button {
  border: 0 none;
  min-height: 26px;
  float: left;
  margin: 0.5em 0;
}

.asal-global-search button:before,
.asal-global-search .searchbtn[type="submit"]:before {
  font-family: FontAwesome;
  content: "";
  color: #707070;
  text-shadow: 1px 1px 1px #FFF;
}

.asal-global-search button {
  background: -moz-linear-gradient(center top , #E8E8E8 0%, #C9C9C9 100%) repeat scroll 0 0 transparent;
  //  margin-top: 0.5em;
  //  margin-bottom: 0.5em;
  position: relative;
  width: 30px;
  border-radius: 0 0.3em 0.3em 0;
  line-height: 1.6;
  cursor: pointer;
}
// toolbar also gets display fixes
.asal-toolbar li.asal-global-search-wrapper{
  width:100%;
  & input{
    width:90%;
  }
  & button{
    width:10%;
  }
  & input, button{
    @media (min-width: 960px) {
      width: auto;
    }
  }
  @media (min-width: 960px) {
    width: auto;
  }
}